In [1]:
import pandas as pd

In [2]:
cyberlib = pd.read_csv('cyberlib 1-15 feb.csv')

In [3]:
data = cyberlib[['Content']]

In [4]:
data['Content'] = data['Content'].str.lower()
data['Content'] = data['Content'].str.replace(r'(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)', '')
data['Content'] = data['Content'].str.replace(r'[^\w\s\-]', '')
data['Content'] = data['Content'].str.replace(r'\d+', '')
data['Content'] = data['Content'].str.replace(r'[\-]', ' ')
data['Content'] = data['Content'].str.replace(r'\s{2,}', ' ')

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
konotasi = pd.read_csv('konotasi.csv')

In [6]:
konotasi

      No Konotasi negatif Konotasi positif
0      1          Bencana           Akurat
1      2      Disproporsi         Berhasil
2      3  Disproporsional    Berkelanjutan
3      4        Hilangnya      Berkomitmen
4      5        Kejahatan       Berlebihan
..   ...              ...              ...
231  232              NaN        Bergairah
232  233              NaN        Apresiasi
233  234              NaN        Relaksasi
234  235              NaN        Penguatan
235  236              NaN       Menggenjot

[236 rows x 3 columns]

In [8]:
kon = konotasi[['Konotasi negatif', 'Konotasi positif']]

In [9]:
kon

    Konotasi negatif Konotasi positif
0            Bencana           Akurat
1        Disproporsi         Berhasil
2    Disproporsional    Berkelanjutan
3          Hilangnya      Berkomitmen
4          Kejahatan       Berlebihan
..               ...              ...
231              NaN        Bergairah
232              NaN        Apresiasi
233              NaN        Relaksasi
234              NaN        Penguatan
235              NaN       Menggenjot

[236 rows x 2 columns]

In [12]:
kon['Konotasi negatif'] = kon['Konotasi negatif'].str.lower()
kon['Konotasi positif'] = kon['Konotasi positif'].str.lower()

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
kon

    Konotasi negatif Konotasi positif
0            bencana           akurat
1        disproporsi         berhasil
2    disproporsional    berkelanjutan
3          hilangnya      berkomitmen
4          kejahatan       berlebihan
..               ...              ...
231              NaN        bergairah
232              NaN        apresiasi
233              NaN        relaksasi
234              NaN        penguatan
235              NaN       menggenjot

[236 rows x 2 columns]

In [14]:
data['Positif'] = ''
data['Negatif'] = ''

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
import nltk
from nltk import sent_tokenize, word_tokenize
from nltk.tokenize import MWETokenizer
from nltk.corpus import stopwords
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [37]:
for i, w in enumerate(data['Content']):
    pos = 0
    neg = 0
    
    hasil = word_tokenize(w)
    
    for j in hasil:
        if kon['Konotasi negatif'].str.contains(j).any() == True:
            neg += 1
        elif kon['Konotasi positif'].str.contains(j).any() == True:
            pos += 1
        else:
            continue
    
    data.at[i, 'Konotasi negatif'] = neg
    data.at[i, 'Konotasi positif'] = pos

In [38]:
data

,Content,Positif,Negatif,Konotasi negatif,Konotasi positif
0,kapolri berjanji penggunaan pasal karet di uu ...,,,40.0,9.0
1,jakarta penyediaan hunian untuk golongan mene...,,,90.0,22.0
2,jakarta organisasi perdagangan dunia wto resm...,,,84.0,9.0
3,bps provinsi papua menyatakan persentase pendu...,,,72.0,20.0
4,kejagung kembali menetapkan satu orang tersang...,,,44.0,26.0
...,...,...,...,...,...
11918,vivaâ â partai golkar berkomitemen membentuk k...,,,43.0,15.0
11919,kementerian pariwisata dan ekonomi kreatif ten...,,,67.0,17.0
11920,dewan perwakilan rakyat daerah dprd utara mend...,,,41.0,13.0
11921,jakarta direktur jenderal perdagangan dalam n...,,,74.0,17.0
11922,jakarta grab indonesia ikut mendukung dan men...,,,78.0,27.0

In [39]:
data['Total'] = data['Konotasi positif'] - data['Konotasi negatif']

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
data

,Content,Positif,Negatif,Konotasi negatif,Konotasi positif,Total
0,kapolri berjanji penggunaan pasal karet di uu ...,,,40.0,9.0,-31.0
1,jakarta penyediaan hunian untuk golongan mene...,,,90.0,22.0,-68.0
2,jakarta organisasi perdagangan dunia wto resm...,,,84.0,9.0,-75.0
3,bps provinsi papua menyatakan persentase pendu...,,,72.0,20.0,-52.0
4,kejagung kembali menetapkan satu orang tersang...,,,44.0,26.0,-18.0
...,...,...,...,...,...,...
11918,vivaâ â partai golkar berkomitemen membentuk k...,,,43.0,15.0,-28.0
11919,kementerian pariwisata dan ekonomi kreatif ten...,,,67.0,17.0,-50.0
11920,dewan perwakilan rakyat daerah dprd utara mend...,,,41.0,13.0,-28.0
11921,jakarta direktur jenderal perdagangan dalam n...,,,74.0,17.0,-57.0
11922,jakarta grab indonesia ikut mendukung dan men...,,,78.0,27.0,-51.0

In [41]:
data.sort_values(['Total'], ascending=False)

,Content,Positif,Negatif,Konotasi negatif,Konotasi positif,Total
6938,jakarta iconomics menggelar iconomics marketi...,,,45.0,89.0,44.0
10004,ojk tetapkan saham pt indointernet tbk sebagai...,,,12.0,25.0,13.0
5000,maksimalkan potensi koridor tol japek jmrb ker...,,,43.0,50.0,7.0
8845,pergerakan berbagai sektor pengunjung memotret...,,,1.0,6.0,5.0
5095,jasa marga gandeng sentraloka kembangkan korid...,,,46.0,51.0,5.0
...,...,...,...,...,...,...
976,jakarta pemerintah saat ini menerapkan aturan...,,,418.0,95.0,-323.0
9423,pemerintah siapkan program pendukung agar duni...,,,424.0,95.0,-329.0
6209,kebijakan glasnost dan perestroika dorong keha...,,,480.0,144.0,-336.0
1285,revolusi arab springs dimulai dari tunisia ara...,,,524.0,92.0,-432.0
11452,siapa pembuat relief sarinah para pekerja reno...,,,812.0,172.0,-640.0

In [42]:
data.to_csv(r'TotalKonotasi.csv')